/**
 *
 * Helper classes like clearfix, alignment classes
 *
 */

.clearfix,
.grid {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.ma {
    margin-left: auto;
    margin-right: auto;
}

.site-width {
    max-width: $site-width;
}
