/**
 *
 * Reset Css
 *
 */


/* Reset bootstrap */

.page-header {
    padding: 0;
    margin: 0;
    border: none;
}

header,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

img {
    width: 100%;
}
