/**
 *
 * This file is for general typography
 *
 */

html,
body {
    background-color: #fff;
    color: #000;
}

body,
input,
select,
textarea,
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
