 .page-footer {
     background-color: #dcdcde;
     padding: rem(100) 1.5em;
     position: relative;
 }
 
 .footer-module {
     margin-bottom: 2em;
     @include tablet-port {
         margin-bottom: 0;
     }
     font-size: em(14);
     &:last-child {
         margin-bottom: 0;
     }
 }
 
 .footer-module__icon,
 .footer-module__content {
     display: inline-block;
     vertical-align: top;
 }
 
 .footer-module__icon {
     background-color: $color-base-light;
     width: rem(87);
     height: rem(87);
     font-size: rem(45);
     border-radius: 50%;
     color: #fff;
     position: relative;
     .fa {
         @include absolute-center
     }
 }
 
 .footer-module__title {
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 1em;
     font-size: 1em;
 }
 
 .footer-module__content {
     color: #4d4d4d;
     margin-left: 2em;
     a {
         color: inherit;
         text-decoration: none;
         &:hover {
             text-decoration: underline;
         }
     }
 }
