.page-nav {
    background-color: $color-base;
    color: #fff;
    text-align: center;
    padding: 1em 0 0;
    @include tablet-port {
        padding: 1.5em
    }
}

.page-nav__li {
    position: relative;
    border-bottom: 1px solid #ccc;
    @include tablet-port {
        display: inline-block;
        border: 0;
        &:after {
            content: "\2013";
            right: -0.15em;
            @include vertical-center;
        }
        &:last-child:after {
            display: none;
        }
    }
}

.page-nav__item {
    display: block;
    color: inherit;
    text-transform: uppercase;
    transition: opacity 0.3 ease;
    padding: 0.5em 1em;
    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
    @include tablet-port {
        font-size: em(18);
        padding: 1em 2em;
    }
}

.page-nav__hamburger {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-bottom: 1em;
    &:hover {
        transform: scale(1.2);
    }
    @include tablet-port {
        display: none;
    }
}

.page-nav__ul {
    display: none;
    @include tablet-port {
        display: block !important;
    }
}
