/**
 *
 * Styles for all the sections in the page
 *
 */

section .site-width > p,
section .site-width > h2 {
    text-align: center;
    margin: rem(60) 0;
}

section .site-width > h2 {
    font-size: rem(60);
    font-weight: bold;
}

section .site-width > p {
    color: $color-base-light
}
