/**
 *
 * Mixins for responsiveness
 *
 */


/* Phone landscape*/

@mixin phone-land {
    @media (min-width: $very-small-width) {
        @content;
    }
}


/* Table portrait*/

@mixin tablet-port {
    @media (min-width: $small-width) {
        @content;
    }
}


/* Table landscape*/

@mixin tablet-land {
    @media (min-width: $medium-width) {
        @content;
    }
}


/* Wide screen*/

@mixin wide {
    @media (min-width: $large-width) {
        @content;
    }
}


/* Very wide screen*/

@mixin very-wide {
    @media (min-width: $very-large-width) {
        @content;
    }
}


/* Exchange from normal to high pixel density images */

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        @content;
    }
}
