/**
 *
 * For mixins general and functions
 *
 */

//Mixin is the pieces of code that help u
//dont have to type pieces of code
//over and over again

/* Convert pixel to em and rem */

@function em($pixels, $ref: 16) {
    @return ($pixels / $ref) * 1em;
}

@function rem($pixels, $ref: 16) {
    @return ($pixels / $ref) * 1rem;
}

@mixin vertical-center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin hover-border {
    border: 3px solid transparent;
    transition: border .2s ease;
    &:hover {
        border-color: $color-highlight;
    }
}
