/**
 *
 * Use the grid and responsive mixins
 * to generate responsive grid system
 *
 */

$grid-gutter: 16px;
.grid {
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
}


/* call the grid base on the screen size */

@include generate_grid(xs, $grid-gutter);
@include phone-land {
    @include generate_grid(sm, $grid-gutter);
}

@include tablet-port {
    @include generate_grid(md, $grid-gutter);
}

@include tablet-land {
    @include generate_grid(lg, $grid-gutter);
}
