.blog__item {
    font-size: em(18);
    margin-bottom: 4em;
}

.blog__item-image-container {
    margin-bottom: 1.5em;
    a {
        display: block;
        @include hover-border;
    }
}

.blog__item-header,
.blog__item-excerpt {
    padding: 0 3px;
}

.blog__item-tag {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    color: #929292;
    margin-bottom: 0.5em;
}

.blog__item-title {
    font-weight: bold;
    color: $color-base;
    font-size: em(20);
    margin-bottom: 1rem;
    a {
        color: inherit;
    }
}

.blog__item-excerpt {
    color: #494949;
    line-height: 1.9;
    p {
        margin-bottom: 1.5em;
    }
}

.blog__item-read {
    font-weight: bold;
    color: $color-highlight;
    text-align: right;
    display: block;
    &:after {
        content: "\00bb";
        margin-left: .5em;
    }
}
