.contact {
    background-color: $color-base;
    padding: em(150) 0;
    .site-width > h2 {
        color: white;
        font-weight: bold;
    }
    .site-width > p {
        color: white;
    }
    input,
    textarea {
        width: 100%;
    }
}

.contact-form {
    font-size: em(18);
}

.contact-form__container {
    margin-bottom: .75em;
}

.contact-form__label {
    display: block;
    color: white;
    margin-bottom: .2em;
}

.contact-form__field {
    display: block;
    padding: .5em;
    color: #4d4d4d;
    border: 0;
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.contact-form__button {
    margin-top: 1.1em;
    font-size: em(18);
    font-weight: bold;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(90deg, $color-gradient1, $color-gradient2);
    padding: 1em 2em;
    transition: transform 0.2 ease;
    &:hover {
        transform: scale(1.1);
    }
}
