.portfoio__nav {
    text-align: left;
    margin-bottom: 2em;
}

.portfoio__nav-item {
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;
    display: block;
    font-size: rem(22);
    margin-bottom: 1.25em;
    &:hover,
    &.is-active {
        color: $color-highlight;
    }
}

.portfolio__list-item {
    display: block;
    margin-bottom: 2em;
    text-decoration: none;
    @include hover-border;
}
