.services__item {
    margin-bottom: 1.5em;
}

.services__item-icon {
    font-size: rem(50);
    width: rem(100);
    height: rem(100);
    border-radius: 100%;
    background: linear-gradient(90deg, $color-gradient1, $color-gradient2);
    position: relative;
    color: white;
    margin: 0 auto 0.75em;
    i {
        @include absolute-center
    }
}

.services__item-title {
    color: $color-highlight;
    margin-bottom: 1.5em;
    font-size: rem(30);
    font-weight: 600;
}
