.welcome {
    background: url(../../assets/images/welcome_background.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    height: em(200);
    @include tablet-port {
        height: em(350);
    }
    @include wide {
        height: em(600);
    }
    @include very-wide {
        height: em(740);
    }
}

.welcome__title {
    color: #fff;
    font-size: rem(48);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    font-weight: 300;
    line-height: 1;
    text-align: center;
    margin: 0;
    @include absolute-center;
    @include tablet-port {
        font-size: rem(72);
    }
    @include wide {
        font-size: rem(120);
    }
}

.welcome__title-complement {
    font-size: rem(14);
    display: block;
    font-weight: 600;
    margin-top: 10px;
    @include tablet-port {
        font-size: rem(24);
    }
    @include wide {
        font-size: rem(36);
    }
}
